.wrap2{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:center;
}

.footer-section{

  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-section>.title{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
  text-align:center;
}

.footer-section>.profile{
  display:flex;
  justify-content:space-around;
}

.footer-section>.profile>.profile-box{
    margin-right:40px;
    margin-left:40px;
}

.footer-section>.profile>.profile-box>.profile-info{
  text-align:center;
  margin-top: 10px;
}

.footer-section>.profile>.profile-box>.img-box>img{
  width: 200px;
  height: 250px;
}
