/* 노멀라이징 */
*{
  margin: 0;
  padding: 0;
}


a{
  color:inherit;
  text-decoration:none;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


/* 스타일 시작 */
.main-wrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top:50px;
}



/* 메인정보 스타일 시작 */
.info-box {
  height: 300px;
  background-image: url("https://img.freepik.com/free-vector/people-meeting-in-restaurant-bar-for-dinner-isolated-flat-vector-illustration-cartoon-men-and-women-drinking-wine-or-beer-in-pub_74855-8505.jpg?w=2000&t=st=1687505580~exp=1687506180~hmac=03e3b0f29aea38775a05a2a71e31650bbf29f38f45467d37a58b76fb52457bbc");
  background-size: 1300px 300px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 500px;
  object-fit: cover;
}

.font {
  color: white;
  font-size: 40px;
}

.main-section>.slider-wrap{
  max-width:1200px;
  margin-top: 30px;
}


/* 메인 슬라이더 스타일 시작 */
.slider-wrap{
  max-width:1200px;
  margin: 0 auto;
  position:relative;
}

.slider-wrap>.slider .content>a>img{
  width: 100%;
  height: 600px;
  display:block;
}

.slider-wrap>.slider .content{
  position:relative;
}

.slider-wrap>.slider .content>.txt-box{
  position:absolute;
  top:5%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  color:white;
  font-size: 30px;
}

.slider-wrap>.slider .content>.txt-box>h2{
  transform:translatey(30px);
}

.slider-wrap>.slider .content.active>.txt-box>h2{
  transform:translatey(0px);
}


.slider-wrap .slick-dots{
  bottom: 100;
}

.slider-wrap>.left-btn{
  width: 50px;
  height: 50px;
  position:absolute;
  top: 50%;
  left:0;
  z-index:999;
  transform:translatey(-50%);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size: 30px;
  font-weight: bold;
  cursor:pointer;
}
.slider-wrap>.right-btn{
  width: 50px;
  height: 50px;
  position:absolute;
  top: 50%;
  right:0;
  z-index:999;
  transform:translatey(-50%);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size: 30px;
  font-weight: bold;
  cursor:pointer;
}

.slider-wrap>.state-btn{
  width: 30px;
  height: 30px;
  text-align:center;
  line-height:10px;
  position:absolute;
  left:50%;
  transform:translatex(-30%);
}

.state-btn>div{
  display:none;
}

.state-btn>div.active{
  display:block;
}


/* top5순위 스타일 시작 */

.main-section>.ranking-section{
  width: 1200px;
  height: auto;
  margin-top: 30px;

}

.main-section>.ranking-section>.ranking-wrap{
    display:flex;
        justify-content:space-between;
        text-align:center;
}

.main-section>.ranking-section>.ranking-title{
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
}


.main-section>.ranking-section>.ranking-wrap>.ranking>.ranking-box .img-box>img{
  width: 220px;
  height: 250px;
}

.main-section>.ranking-section>.ranking-wrap>.ranking .name{
  margin-top: 10px;
}


/* ad 슬라이더 스타일 시작 */

.ad-slider-wrap{
  max-width:1200px;
  margin: 0 auto;
  position:relative;
  margin-top: 50px;
}

.ad-slider-wrap>.slider .content>a>img{
  width: 100%;
  height: 400px;
  display:block;
}

.ad-slider-wrap>.slider .content{
  position:relative;
}

.slider-wrap .slick-dots{
  bottom: 100;
}

.ad-slider-wrap>.left-btn{
  width: 50px;
  height: 50px;
  position:absolute;
  top: 50%;
  left:0;
  z-index:999;
  transform:translatey(-50%);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size: 30px;
  font-weight: bold;
  cursor:pointer;
}
.ad-slider-wrap>.right-btn{
  width: 50px;
  height: 50px;
  position:absolute;
  top: 50%;
  right:0;
  z-index:999;
  transform:translatey(-50%);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  font-size: 30px;
  font-weight: bold;
  cursor:pointer;
}

.ad-slider-wrap>.state-btn{
  width: 30px;
  height: 30px;
  text-align:center;
  line-height:10px;
  position:absolute;
  left:50%;
  transform:translatex(-30%);
}

.state-btn>div{
  display:none;
}

.state-btn>div.active{
  display:block;
}

.main-wrap>.footer-section{
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-section>.title{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 30px;
}

.footer-section>.profile{
  display:flex;
  justify-content:space-around;
}

.footer-section>.profile>.profile-box>.profile-info{
  text-align:center;
  margin-top: 10px;
}

.footer-section>.profile>.profile-box>.img-box>img{
  width: 200px;
  height: 250px;
}

hr{
  margin-top: 60px;
  border:0;
  height:3px;
  background-color: black;
}



.btn{
  width: 40px;
  height: 40px;
  background-color: #dfdfdf;
  text-align:center;
  border-radius:100%;
  box-sizing:border-box;
  padding-top: 10px;
  position:fixed;
  bottom: 30px;
  right: 30px;
}

.btn.active{
  opacity:1;
  visibility:visible;
}


