/* 노멀라이징 */
html {
  font-size: calc(100% + 5px);
}

/* 노멀라이징 */
@font-face {
       font-family: 'SUITE-Regular';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}
*{
font-family: 'SUITE-Regular';
}
* {
    margin: 0;
    padding: 0;
}

a{
 text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}

/* 스타일 시작 */

.wrap{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.wrap>nav{

  display:flex;
  justify-content:space-between;
}

.logo-box {
margin-top : 36px;
}
.wrap>.left-box {
margin-top : 15px;
}

.wrap>nav>.left-box>.logo-box>a>img{
  width: 150px;
  height: 80px;
}

.wrap>nav>.right-box>.user-box{
  display:flex;
  justify-content:flex-end;
  margin-top: 20px;
  margin-right: 10px;
  font-size:16px;
}

.wrap>nav>.right-box>.user-box>.login{
  margin-right: 20px;
}

.wrap>nav>.right-box>.user-box>.login>a{
    margin-left:10px;
}

.wrap>nav>.right-box>.user-box>.admin-button{
    margin-right:20px;
}

.wrap>nav>.right-box>.user-box>.profile{
    margin-right:20px;
}

.wrap>nav>.right-box>.search-box{
  position:relative;
  width: 300px;
  margin-top: 20px;
}

.wrap>nav>.right-box>.search-box>#search-form>input{
  width: 270px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.wrap>nav>.right-box>.search-box>#search-form>button>img{
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px
}

.wrap > .menu-bar {
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}


.wrap > .menu-bar > ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%; /* 전체 너비로 설정 */
}


.wrap > .menu-bar > ul > li {
  width: calc(100% / 7);
  background: right / 0% 100% no-repeat linear-gradient(#92214D, #92214D);
  transition: background-size 500ms;
  padding : 5px 0;
  font-weight:bold;
}


.wrap > .menu-bar > ul > li > a {
  display: block;
  font-size: 20px;
  background: right / 0% 100% no-repeat linear-gradient(#92214D, #92214D);
  transition: background-size 500ms;
  transition: color 500ms;
}

.wrap > .menu-bar > ul > li:hover {
    color : #ffffff;
  background: left / 100% 100% no-repeat linear-gradient(#92214D, #92214D);
}

.search-box {
    position: relative;
}

#search_kw {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search-form button img {
    width: 20px;
    height: 20px;
}
