/* 노멀라이징 */

* {
    margin: 0;
    padding: 0;
}

a{
 text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}

/* 스타일 시작 */

.wrap{
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.wrap>nav{

  display:flex;
  justify-content:space-between;
}

.wrap>nav>.left-box>.logo-box>a>img{
  width: 180px;
  height: 100px;
}

.wrap>nav>.right-box>.user-box{
  display:flex;
  justify-content:flex-end;
  margin-top: 20px;
  margin-right: 10px;
}

.wrap>nav>.right-box>.user-box>.login{
  margin-right: 20px;
}

.wrap>nav>.right-box>.user-box>.admin-button{
    margin-right:20px;
}

.wrap>nav>.right-box>.user-box>.profile{
    margin-right:20px;
}

.wrap>nav>.right-box>.search-box{
  position:relative;
  width: 300px;
  margin-top: 20px;
}

.wrap>nav>.right-box>.search-box>input{
  width: 270px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.wrap>nav>.right-box>.search-box>img{
  position : absolute;
  width: 17px;
  top: 10px;
  right: 12px
}

.wrap>.menu-bar{
  box-sizing:border-box;
  margin-top: 20px;
}

.wrap>.menu-bar>ul{
  display:flex;
  justify-content:space-around;
  text-align:center;
}

.wrap>.menu-bar>ul>li{
  width: calc(100%/7);
  display:inline-block;
}



.wrap>.menu-bar>ul>li>a{
  display:block;
  font-size: 20px;
  background:right / 0% 100% no-repeat linear-gradient(red,red);
  transition:background-size 500ms;
}

.wrap>.menu-bar>ul>li:hover>a{
  color: #00498c;
  background:left / 100% 100% no-repeat linear-gradient(red, red);
}