html {
  font-size: calc(100% + 5px);
}

/* 노멀라이징 */
@font-face {
       font-family: 'SUITE-Regular';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}
*{
font-family: 'SUITE-Regular';
}
/* 컨테이너 스타일 */
.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.title-box {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/* 폼 스타일 */
form {
  margin-bottom: 20px;
}

/* 입력 요소 스타일 */
.Category,
.SubCategory,
.product-name,
.Costrange-box,
.ABVrange-box,
.net-weight-box,
.taste-box,
.incense-box,
.paring-box,
.Cask-box,
.nation,
.product-img-box,
.product-detail-img-box,
.product-info-img-box {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

select,
input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #fff;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* 버튼 스타일 */
.btn-section {
  text-align: center;
}

.btn-box {
  margin-top: 20px;
}

.btn-action,
.btn-cancel {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-action {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #fff;
  margin-right: 10px;
}

.btn-cancel {
  background-color: #dc3545;
  border: 2px solid #dc3545;
  color: #fff;
  margin-left: 10px;
  padding: 10px 20px;
}

.btn-action:hover,
.btn-cancel:hover {
  opacity: 0.8;
}

a {
  color: #fff;
  text-decoration: none;
}
.form_errors {
margin-bottom : 15px;
background-color: #ffcccc;
color: #ff0000;
padding: 10px;
border-radius: 4px;
font-weight: bold;
text-align: center;
}