html:lang(ko) body,
html:lang(ko) code {
    font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
    }
/* 노멀라이징 */



a{
  color:inherit;
  text-decoration:none;
}

ul,li{
  text-decoration:none;
  list-style:none;
}



.wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap>.product-box{
  display:flex;
  margin-top:40px;
}

.wrap>.product-box>.left-box{
  width: 50%;
  height: 500px;

}

.wrap>.product-box>.left-box>.product-main-img{
  width : 580px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center ;

}

.wrap>.product-box>.right-box{
  width: 50%;
  height: 500px;
  margin-left: 40px;
}

.wrap>.product-box>.right-box>.title-box{
  margin-bottom: 30px;
  font-size: 25px;
  margin-left:20px;
}

.wrap>.product-box>.right-box>.info-box>.info{
  display:flex;
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 20px;
}

.wrap>.product-box>.right-box>.info-box>.info>.title{
  margin-right: 10px;
}


.wrap>.product-box>.right-box>.cost-box{
  margin-top: 60px;
  margin-left: 20px;
}


.wrap>.product-box>.right-box>.cost-box>.title{
    margin-bottom:10px;
}

.wrap>.product-box>.right-box>.cost-box>.num{
  display : inline-block;
}

.wrap>.product-box>.right-box>.logo-box{
  display:flex;
  margin-top: 40px;
  margin-left: 20px;
}

.wrap>.product-box>.right-box>.logo-box>div{
  margin-right: 60px;
}

/* 포인트섹션 스타일 시작 */
.wrap>.point-section{
  height:auto;
  background-color: #dfdfdf;
  margin-top: 50px;
  margin-bottom:50px;
  text-align:center;
}

.wrap>.point-section>.title{
  text-align:center;
  font-size: 29.25px;
  font-weight: bold;
  margin-top: 20px;
  padding: 20px;
}

.wrap>.point-section>.point-wrap{

}

.wrap>.point-section>.point-wrap>.point-box{
  text-align:center;
  padding-bottom : 40px;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content{
  width: 90%;
  height: 200px;
  background-color: white;
  display:inline-block;
  border-radius:6px;
  text-align:left;

}

.wrap>.point-section>.point-wrap>.point-box>.point-content>.point{
  margin-left: 20px;
  margin-top: 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content>.point>.left-box>.title{
  font-size: 29.25px;
  font-weight: bold;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content>.point>.left-box>.text{
  margin-top: 20px;
  font-size: 20px;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content>.point>.right-box>i{
  margin-right: 40px;
}

/* 포인트2 */


.wrap>.point-section>.point-wrap>.point-box>.point-content2{
  width: 90%;
  height: 200px;
  background-color: white;
  display:inline-block;
  border-radius:6px;
  text-align:left;
  margin-top: 40px;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content2>.point{
  margin-left: 20px;
  margin-top: 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content2>.point>.left-box>.title{
  font-size: 29.25px;
  font-weight: bold;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content2>.point>.left-box>.text{
  margin-top: 20px;
  font-size: 20px;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content2>.point>.right-box>i{
  margin-right: 40px;
}

/* 포인트3 */


.wrap>.point-section>.point-wrap>.point-box>.point-content3{
  width: 90%;
  height: 200px;
  background-color: white;
  display:inline-block;
  border-radius:6px;
  text-align:left;
  margin-top: 40px;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content3>.point{
  margin-left: 20px;
  margin-top: 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content3>.point>.left-box>.title{
  font-size: 29.25px;
  font-weight: bold;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content3>.point>.left-box>.text{
  margin-top: 20px;
  font-size: 20px;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content3>.point>.right-box>img{
  width:100px;
  height:60px;
  margin-right: 10px;
}


/* 포인트4 */


.wrap>.point-section>.point-wrap>.point-box>.point-content4{
  width: 90%;
  height: 200px;
  background-color: white;
  display:inline-block;
  border-radius:6px;
  text-align:left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content4>.point{
  margin-left: 20px;
  margin-top: 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.wrap>.point-section>.point-wrap>.point-box>.point-content4>.point>.left-box>.title{
  font-size: 29.25px;
  font-weight: bold;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content4>.point>.left-box>.text{
  margin-top: 20px;
  font-size: 20px;
}


.wrap>.point-section>.point-wrap>.point-box>.point-content4>.point>.right-box>i{
  margin-right: 40px;
}
.wrap>.point-section>.point-wrap>.point-box>.point-content4>.point>.right-box>img{
  margin-right: 28px;
  width : 60px;
  height : 60px;
}


/* 상품사진,상품정보 */


.info-section{
  margin-top: 40px;
}

.info-section>.info-box{
  text-align:center;
}

.info-section>.info-box>.info-img>img{
  width: 1200px;
  height: 700px;
}

.info-section>.info-box>.product-title{
  margin: 50px 0;
  font-size: 30px;
  font-weight: bold;
}


.info-section>.info-box>.product-text{
    font-size:20px;
}

/* 리뷰,댓글 시작 */

.wrap>.review-box{
 margin-top:50px;

}

.wrap>.review-box>.title-box{
  display:flex;
  margin-bottom: 20px;
}

.wrap>.review-box>.title-box>.title{
  font-size: 25px;
  font-weight: bold;
}

.wrap>.review-box>.review-list{


}

.wrap>.review-box>.review-list>.review-info{
  width: 1200px;
  height: 50px;
  background-color: #dfdfdf;
  border-radius:8px;
  margin-bottom: 20px;
  align-items:center;
}

.wrap>.review-box>.review-list>.review-info{
  display:flex;
  justify-content:space-between;
}


.wrap>.review-box>.review-list>.review-info>.left-box{
  margin-left: 20px;
  display:flex;
}

.wrap>.review-box>.review-list>.review-info>.left-box>.nick-name{
  margin-right: 40px;
  margin-left:10px;
}

.wrap>.review-box>.review-list>.review-info>.left-box>.modify-btn{
  margin-right: 10px;
  cursor:pointer;
}

.wrap>.review-box>.review-list>.review-info>.left-box>.modify-btn>a{
  font-size: 13px;

}
.wrap>.review-box>.review-list>.review-info>.left-box>.modify-btn>a.active{
  display: inline;
}

.wrap>.review-box>.review-list>.review-info>.left-box>.delete>a{
  font-size: 13px;
  margin-left: 10px;
}


.wrap>.review-box>.review-list>.review-info>.right-box>.product-name{
  margin-right: 20px;
  display:inline-block;
  width:150px;
  text-align:center;
}

.wrap>.review-box>.review-list>.review-info>.right-box>.review-date{
  margin-right: 20px;
  display:inline-block;
  width:150px;
  text-align:center;
}

.wrap>.review-box>.review-list>.review-info>.right-box>#recommendation{
  display:inline-block;
  margin-right: 15px;
  cursor:pointer;
}

.review-list>.review{
    display:flex;
    justify-content:space-between;
}

.review-list>.review>.modify-review-date{
    margin-right:30px;
}

.review-modify {
  display: none;
}
.review-modify.active {
  display: block;

}



.review-modify>.mb-3>.form-label{
    font-size:15px;
    font-weight:bold;
}

.review-modify>.mb-3>textarea{
    width:1200px;
    height:200px;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid black;
}

.review-modify>.submitbtn{
    padding:10px;
    margin-bottom:10px;
    margin-left:1130px;
}

#recommendation i {
  font-size: 24px;

}

#recommendation.clicked i:before {
  content: "\f164"; /* 꽉 찬 엄지 아이콘의 유니코드 값 */

}

.wrap>.review-box>.review-list>.review{
  display:flex;
  margin-bottom: 30px;
}

.wrap>.review-box>.review-list>.review>.review-text{
  margin-left: 30px;
}

.wrap>.review-box>.review-form{
  display:flex;
  margin-top: 80px;
  margin-bottom: 50px;
  position:relative;
}

.wrap>.review-box>.review-form>form>textarea{
  width: 1200px;
  height: 200px;
  padding: 0;
  border:1px solid black;
}

.wrap>.review-box>.review-form>form>input{
  text-align:center;
  width: 80px;
  height: 40px;
  position:absolute;
  right:0;
  bottom:-25%;
}

.btn{
  width: 40px;
  height: 40px;
  background-color: #dfdfdf;
  text-align:center;
  border-radius:100%;
  box-sizing:border-box;
  padding-top: 10px;
  position:fixed;
  bottom: 30px;
  right: 30px;
}

.btn.active{
  opacity:1;
  visibility:visible;
}
