html {
  font-size: calc(100% + 5px);
}

/* 노멀라이징 */
@font-face {
       font-family: 'SUITE-Regular';
       src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
       font-weight: 400;
       font-style: normal;
}
*{
font-family: 'SUITE-Regular';
}
/* 노멀라이징 */
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}


/*스타일시작*/

.big-wrap{
   width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content:center;
}
.wrap{
  width:900px;
  height:auto;
  margin-left:auto;
      margin-right:auto;
}

.wrap>.top-bar{
  display:flex;
  justify-content:space-between;
}

.wrap>.top-bar>.logo-box{
margin-top:12px;
}

.wrap>.top-bar>.logo-box>.logo>a>img{
  width: 170px;
  height: 100px;
}

.wrap>.top-bar>.user-box{
  display:flex;
  margin-top:20px;
  font-size:16px;
  margin-right:10px;
}

.wrap>.top-bar>.user-box>div{

}

.wrap>.top-bar>.user-box>.login{
    margin-right:34px;
}

.wrap>.content{
    margin-left:auto;
    margin-right:auto;

    width:400px;
}

.wrap>.content>.hello{
  margin-top: 50px;


}

.wrap>.content>.hello>.hello-box{

  height: 100px;

}

.wrap>.content>.hello>.hello-box>.title{
  font-size: 25px;
  font-weight: bold;

}


.wrap>.content>.hello>.hello-box>.text{
  margin-top: 40px;
  margin-right: 130px;
}

.wrap>.content>.signup-box{

  margin-top: -20px;

}

/*이메일*/
.wrap>.content>.signup-box>.email-box>.email-text{

}

.wrap>.content>.signup-box>.email-box>.email{
  margin-top: 10px;
  position:relative;
  display:inline-block;
}

.wrap>.content>.signup-box>.email-box>.email>input{

  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  box-sizing:border-box;
  padding-left: 20px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

}

.wrap>.content>.signup-box>.email-box>.email>.email-checkmark{
    position:absolute;
      top:10px;
      right:110px;
      color:green;
      font-size: 30px;
      display:none;
}

.wrap>.content>.signup-box>.email-box>.email>button{
    width:100px;
    height:50px;
    box-sizing:border-box;
     border: 1px solid rgb(95, 0, 128);
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
      box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.wrap>.content>.signup-box>.email-box>#email-format-error{

}

/*이메일 인증*/

.wrap>.content>.signup-box>.email-check-box>.email-check{
    display:flex;
    align-items:flex-end;

    position:relative;
  }

.wrap>.content>.signup-box>.email-check-box>.email-check-text{

  margin-top:20px;

  margin-bottom:10px;
  }

  .wrap>.content>.signup-box>.email-check-box>.email-check>input{
    align-items: center;
      justify-content: space-between;
      width: 250px;
      height: 50px;
      box-sizing:border-box;
      padding-left: 20px;
      border: 1px solid rgb(95, 0, 128);
      border-radius: 8px;
      background-color: rgb(255, 255, 255);
      box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

  }

  .wrap>.content>.signup-box>.email-check-box>.email-check>.email-check-checkmark{
      position:absolute;
        top:10px;
        right:330px;
        color:green;
        font-size: 30px;
        display:block;
  }

 .wrap>.content>.signup-box>.email-check-box>.email-check>#timer-expired{

 }



  .wrap>.content>.signup-box>.email-check-box>.email-check>#timer{

  }

/*생일입력*/

.wrap>.content>.signup-box>.birthday-box>.birthday-text{

  margin-top:20px;

}

.wrap>.content>.signup-box>.birthday-box>.birthday{
  margin-top: 10px;
  position:relative;
  display:inline-block;
}

.wrap>.content>signup-box>.birthday-box>.birthday>input{

  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  box-sizing:border-box;
  padding-left: 20px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

}

.wrap>.content>.signup-box>.birthday-box>.birthday>.checkmark{
    position:absolute;
      top:10px;
      right:10px;
      color:green;
      font-size: 30px;
}


/*비밀번호*/
.wrap>.content>.signup-box>.password-box{
  margin-top: 20px;
}


.wrap>.content>.signup-box>.password-box>.password{
  margin-top: 10px;
  position:relative;
  display:inline-block;
}

.wrap>.content>.signup-box>.password-box>.password>input{
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  box-sizing:border-box;
  padding-left: 20px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

}
.wrap>.content>.signup-box>.password-box>.password>i{
    position:absolute;
    top:25px;
    right:-40px;
}

.wrap>.content>.signup-box>.password-box>.password>.password-checkmark{
    position:absolute;
      top:10px;
      right:10px;
      color:green;
      font-size: 30px;
      display:none;
}

.wrap>.content>.signup-box>.password-box>#password-error{

    margin-top:10px;
}


/* 비밀번호 확인 */
.wrap>.content>.signup-box>.password-check-box{
  margin-top: 20px;
}

.wrap>.content>.signup-box>.password-check-box>.password-check-text{

}

.wrap>.content>.signup-box>.password-check-box>.password-check{
  margin-top: 10px;
  position:relative;
  display:inline-block;
}

.wrap>.content>.signup-box>.password-check-box>.password-check>input{
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  box-sizing:border-box;
  padding-left: 20px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

}

.wrap>.content>.signup-box>.password-check-box>.password-check>.password-check-checkmark{
    position:absolute;
      top:10px;
      right:10px;
      color:green;
      font-size: 30px;
      display:none;
}

.wrap>.content>.signup-box>.password-check-box>#password-match-error{

    margin-top:10px;
}

/* qd */
.wrap>.content>.signup-box>.nickname-box{
  margin-top: 20px;
}

.wrap>.content>.signup-box>.nickname-box>.nickname-text{

  font-size: 21px;
}

.wrap>.content>.signup-box>.nickname-box>.nickname{
  margin-top: 10px;
}

.wrap>.content>.signup-box>.nickname-box>.nickname{
  display:flex;


  box-sizing:border-box;
}

.wrap>.content>.signup-box>.nickname-box>.nickname>.nickname2>.nickname-input{

  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 210px;
  height: 50px;
  box-sizing:border-box;
  padding-left: 20px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;

}

.wrap>.content>.signup-box>.nickname-box>.nickname>.btn{
  font-size: 17px;
  background-color: ;
  border:1px solid rgb(0, 150, 243);
  border-radius:5px;
  padding: 10px;
  font-weight: normal;
  color:rgb(0, 150, 243);
  margin-left: 10px;
  box-sizing:border-box;
}


.wrap>.content>.signup-box>.nickname-box>.nickname>.btn>a{
  display:block;
}

.wrap>.content>.signup-box>.nickname-box>#nicknameCheckResult{

}

.wrap>.content>.signup-box>.signup-btn{
  margin-top: 30px;
}

.wrap>.content>.signup-box>.cancel-btn{
    margin-top:10px;
    display:inline-block;
}

.wrap>.content>.signup-box>.signup-btn>.btn{
  width: 300px;
  font-size: 19px;
  background-color: rgb(0, 150, 243);
  border:1px solid rgb(0, 150, 243);
  border-radius:8px;
  padding: 10px;
  font-weight: bold;
  color:white;

}

.wrap>.content>.signup-box>.cancel-btn>.btn2{
    width: 300px;
      font-size: 19px;
      background-color: #bfbfbf;
      border:1px solid #dfdfdf;
      border-radius:8px;
      padding: 10px;
      font-weight: bold;
      color:white;


}



.checkmark {
  display: absolute;
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
}