/* 노멀라이징 */
a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}

/* 스타일시작 */
.wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap>.top-bar{
  display:flex;
  justify-content: space-between;

}

.wrap>.top-bar>.logo-box{
  width: 100px;
  height: 50px;
  margin-left: 30px;
  font-size: 2rem;
}

.wrap>.top-bar>.logo-box>a>img{
  width: 180px;
  height: 100px;
}

.wrap>.top-bar>.user-box{
  margin-top: 30px;
  display:flex;
  justify-content:space-around;
}

.wrap>.top-bar>.user-box>div{
  margin-right: 20px;
}

.wrap>.top-bar>.user-box>.search-box{

}

.wrap>.top-bar>.user-box>.search-box{
  position: relative;
  width: 200px;
  margin: 0px auto;
  margin-top: 0px;
}

.wrap>.top-bar>.user-box>.search-box>.search{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: absolute;
 right:10px;
  width: 300px;
  height: 40px;
  padding-left: 14px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.wrap>.top-bar>.user-box>.search-box>.search>.search-input{
  width: 210px;
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: -0.33px;
}

.wrap>.top-bar>.user-box>.search-box>.search>.btn{
  border:0px solid white;
  border-left:1px solid rgb(95, 0, 128);
  border-radius: 6px;
  padding: 10px;
  font-size:16px ;
}


.wrap>.menu-bar{
  margin-top: 100px;
}

.wrap>.menu-bar>ul{
  display:flex;
  justify-content:space-between;
}

.wrap>.menu-bar>ul>li{
  display:inline-block;
  text-align:center;
  width:calc(100%/7);
  box-sizing:border-box;
}


.wrap>.menu-bar>ul>li>a{
    display:block;
  border-left:2px solid black;
}

.wrap>.menu-bar>ul>li:last-child>a{
  border-right:2px solid black;
}



.wrap>.menu-bar>ul>li:hover>a{
   color: #00498c;
}

.wrap>.information-box{
  height: 150px;

  margin-top: 40px;
  border:1px solid black;
  border-radius:8px;

}

.wrap>.information-box>.img-box{
  margin-top: -110px;
  margin-left: 270px;
}

.wrap>.information-box>.img-box>img{
  width: 300px;
  height: 140px;
  margin-left: 600px;

}

.wrap>.information-box>.title{
  margin-left: 70px;
  padding-top: 10px;
}

.wrap>.information-box>.text{
  margin-left: 70px;
  padding-top: 10px;
}

.wrap>.drop-down-box{
  display:flex;

  margin-top: 50px;
}

.wrap>.drop-down-box>div{
  margin-right: 20px;
}

.wrap>.drop-down-box>div:first-child{
  margin-left: 70px;
}


.wrap>.section{
  width: 100%;


  margin-top: 30px;
}

.wrap>.section>p{
    display:inline-block;
}

.wrap>.section>p>.search-result{
  display:inline-block;
  margin-bottom: 30px;
  margin-left: 70px;
}

.section>.goods-list{
  width :1080px;
  display:flex;
  flex-wrap: wrap;

}

.section>.goods-list>div{
    margin-top:20px;
  width : 250px;
  vertical-align : top;
}

.section>.goods-list > div > img {
  width : 250px;
  height : 370px;
  margin-bottom : 10px;
}

.section>.goods-list .goods-name {
  margin-bottom : 10px;
}

.section>.goods-list > .goods-1 {
  margin-right : 20px;
}

.section>.goods-list .per{
  color : #FA622F;
}

.section>.goods-list > div > p > span {
  font-weight : bold;
}