/* 노멀라이징 */
a{
  text-decoration:none;
  color:inherit;
}

ul,li{
  text-decoration:none;
  list-style:none;
}

/* 스타일시작 */
.wrap{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap>.information-box{
  height: 150px;
  border-radius:6px;
  margin-top: 40px;
  padding: 10px;
  border:1px solid black;
}

.wrap>.information-box>.img-box{
  margin-top: -110px;
  margin-left: 250px;
}

.wrap>.information-box>.img-box>img{
  width: 300px;
  height: 150px;
  margin-left: 600px;

}

.wrap>.information-box>.title{
  margin-left: 30px;
  padding-top: 10px;
}

.wrap>.information-box>.text{
  margin-left: 50px;
  padding-top: 10px;
}

.wrap>.drop-down-box{
  display:flex;

  margin-top: 50px;
}

.wrap>.drop-down-box>div{
  margin-right: 20px;
}

.wrap>.drop-down-box>div:first-child{
  margin-left: 70px;
}


.wrap>.section{
  width: 100%;


  margin-top: 30px;
}

.wrap>.section>.search-result{
  display:block;
  margin-bottom: 30px;
  margin-left: 70px;
}


.section>.goods-list-section{
    display:flex;
    justify-content:center;
    width:1180px;
}

.section>.goods-list-section>.goods-list{
  display:flex;
  flex-wrap: wrap;
  margin-left:20px;

}

.section>.goods-list-section>.goods-list>div{
    margin-top:20px;
  width : 250px;
  vertical-align : top;

}
.section>.goods-list-section>.goods-list > div > a {
  overflow : hidden;
}

.section>.goods-list-section>.goods-list > div > a > img {
  width : 250px;
  height : 370px;
  margin-bottom : 10px;
  transition : scale 400ms;
}
.section>.goods-list-section>.goods-list > div > a:hover > img {
  scale : 107%;
}

.section>.goods-list-section>.goods-list .goods-name {
  margin-bottom : 10px;
}

.section>.goods-list-section>.goods-list > .goods-1 {
  margin-right : 20px;
  margin-left: 20px;
}

.section>.goods-list-section>.goods-list .per{
  color : #FA622F;
}

.section>.goods-list-section>.goods-list > div > a > p > span {
  font-weight : bold;
}