<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footerFragment">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/footer_style.css}" type="text/css">
</head>
<body>
<div class="wrap2">
    <div class="footer-section">
        <div class="title">
            프로젝트 팀원
        </div>
        <div class="profile">
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://t1.daumcdn.net/cfile/tistory/99F2694C5F70860B0C">
                </div>
                <div class="profile-info">
                    황인성(프론트엔드, 백엔드)
                </div>
                <div class="profile-info">
                    insung5189@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://artmug.kr/image/goods_img1/3647.jpg?ver=1554857059">
                </div>
                <div class="profile-info">
                    송채영(백엔드)
                </div>
                <div class="profile-info">
                    thdcodud01@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://artmug.kr/image/goods_img1/3647.jpg?ver=1554857059">
                </div>
                <div class="profile-info">
                    서 빈(프론트엔드)
                </div>
                <div class="profile-info">
                    tjqls2013@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://artmug.kr/image/goods_img1/3647.jpg?ver=1554857059">
                </div>
                <div class="profile-info">
                    김사랑(프론트엔드)
                </div>
                <div class="profile-info">
                    gim156922@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>