<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footerFragment">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/footer_style.css}" type="text/css">
</head>
<body>
<div class="wrap2">
    <div class="footer-section">
        <div class="title">
            프로젝트 팀원
        </div>
        <div class="profile">
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://trello.com/1/cards/649a3dd67fa0e748476b9415/attachments/649c9c66bf0812de128473b2/previews/649c9c68bf0812de12847f3a/download/11.jpg">
                </div>
                <div class="profile-info">
                    황인성(프론트엔드, 백엔드)
                </div>
                <div class="profile-info">
                    insung5189@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://trello.com/1/cards/649a3dd67fa0e748476b9415/attachments/649c9c6ae6d9c427b30bf878/previews/649c9c6be6d9c427b30bf9be/download/22.jpg">
                </div>
                <div class="profile-info">
                    송채영(백엔드)
                </div>
                <div class="profile-info">
                    thdcodud01@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://trello.com/1/cards/649a3dd67fa0e748476b9415/attachments/649c9c6ca8afa0c76fd9d2f8/previews/649c9c6ca8afa0c76fd9d342/download/33.jpg">
                </div>
                <div class="profile-info">
                    서 빈(프론트엔드)
                </div>
                <div class="profile-info">
                    tjqls2013@gmail.com
                </div>
            </div>
            <div class="profile-box">
                <div class="img-box">
                    <img alt="" src="https://trello.com/1/cards/649a3dd67fa0e748476b9415/attachments/649c9c6dc2aac428bb0374a0/previews/649c9c6ec2aac428bb0374f4/download/44.jpg">
                </div>
                <div class="profile-info">
                    김사랑(프론트엔드)
                </div>
                <div class="profile-info">
                    gim156922@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>