<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login_form.css}">
    <style>
        .error-message {
          background-color: #ffcccc;
          color: #ff0000;
          padding: 10px;
          border-radius: 4px;
          margin-bottom: 10px;
          font-weight: bold;
        }
    </style>
</head>
<body>
<form th:action="@{/user/login}" method="post">
    <div th:if="${param.error}">
        <div class="error-message">
            사용자ID 또는 비밀번호를 확인해 주세요.
        </div>
    </div>
    <div class="wrap">
        <div class="top-bar">
            <div class="logo-box">
                <div class="logo"><a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a></div>
            </div>
            <div class="user-box">
                <div class="login"><a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a></div>
                <div class="login"><a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a></div>
                <div class="sign-up"><a th:href="@{|/user/signup|}">회원가입</a></div>
            </div>
        </div>
        <div class="hello">
            <div class="hello-box">
                <div class="title">반갑습니다!</div>
                <div class="text">이메일로 로그인해주세요.</div>
            </div>
        </div>
        <div class="login-box">
            <div class="user">
                <div class="id">
                    <input name="username" id="username" placeholder="ex)  example@example.com" class="id-input"
                           type="email">
                </div>
                <div class="ps">
                    <input name="password" id="password" placeholder=" 비밀번호를 입력해주세요." class="ps-input"
                           type="password">
                </div>
            </div>
            <div class="login-btn">
                <button type="submit" class="btn">로그인</button>
            </div>
            <div class="kakao">
                <a href="/oauth2/authorization/kakao">카카오로 시작하기</a>
            </div>
            <div class="signup-btn">
                <a th:href="@{|/user/signup|}">이메일로 회원가입</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>