<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/my_page_style.css}">
<!--        <link rel="script" type="text/js" th:href="@{/my_page_script.js}">--><!--  js는 안쓸거같아요!  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- 문서시작 -->
<div class="wrap">
    <nav>
        <div class="left-box">
            <div class="logo">
                <a href="#">
                    <img src="https://ifh.cc/g/BRzb5o.png" alt="">
                </a>
            </div>
        </div>
        <div class="right-box">
            <div class="user">
                <div class="profile">
                    <i class="fa-solid fa-user fa-xl"></i>
                </div>
                <div class="nick-name" th:text="${userNickName}"></div>
            </div>
        </div>
    </nav>

    <hr>

    <div class="title">
        <div class="text">마이페이지</div>
    </div>
    <div class="main-section">
        <div class="left-box">
            <ul>
                <li class="user-information"><a href="#user-info">회원정보</a></li>
                <li class="user-wishlist"><a href="#user-wish">찜한상품</a></li>
                <li class="user-reviewlist"><a href="#user-review">내 댓글</a></li>
                <li class="user-likelist"><a href="#user-like">좋아요</a></li>
                <li class="user-information-modify"><a href="#user-modify">개인정보 변경</a></li>
            </ul>
        </div>
        <div class="right-box">

            <!--       회원정보 -->
            <div class="user-info active" id="user-info">
                <div class="info-box">

                    <div class="userID">
                        <div class="title">아이디: </div>
                        <div th:text="${userName}"></div>
                    </div>
                    <div class="user-nick-name">
                        <div class="title">닉네임: </div>
                        <div class="nick-name" th:text="${userNickName}"></div>
                    </div>
                    <div class="user-birth-day">
                        <div class="title">생년월일: </div>
                        <div class="birth-day" th:text="${userBrithDate}"></div>
                    </div>
                </div>

            </div>



            <!--       내가찜한상품 -->
            <div class="user-wish" id="user-wish">
                <div class="wish-product">
                    <div class="product-wrap">
                        <div class="img-box">
                            <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1645598047189l0.jpg" alt="">
                        </div>
                        <div class="title">
                            [썬키스트] 팬시 레몬 300g(3입)
                        </div>
                        <div class="cost">2,980원</div>
                    </div>
                    <div class="product-wrap">
                        <div class="img-box"></div>
                        <div class="title"></div>
                    </div>
                    <div class="product-wrap">
                        <div class="img-box"></div>
                        <div class="title"></div>
                    </div>
                    <div class="product-wrap">
                        <div class="img-box"></div>
                        <div class="title"></div>
                    </div>
                </div>
            </div>



            <!--       내가쓴 댓글 -->
            <div class="user-review" id="user-review">
                <div class="review-list">
                    <div class="review-info">
                        <div class="number">번호</div>
                        <div class="content">리뷰</div>
                        <div class="product-name">상품이름</div>
                        <div class="date">등록일</div>
                    </div>
                </div>
                <div class="review-content">

                    <div class="num">1 </div>
                    <div class="content">생각보다 맛있는거 같아요</div>
                    <div class="product-name">고흥유자주 8%</div>
                    <div class="date">2023-06-12</div>

                </div>
            </div>

            <!--       내가 누른 좋아요 -->
            <div class="user-like" id="user-like">
                <div class="like-box">
                    <div class="info">
                        <div class="left">
                            <div class="num">번호</div>
                        </div>
                        <div class="right">
                            <div class="product-name">
                                좋아요 누른 상품
                            </div>
                        </div>

                    </div>
                </div>
                <div class="like-content">
                    <div class="num">1 </div>
                    <div class="like-product">고흥유자주 8%</div>
                </div>
            </div>

            <!--       회원정보수정 -->
            <div class="user-modify" id="user-modify">
                <div class="modify-box">
                    <div class="pw-modify">
                        <form action="">
                            <div class="title">비밀번호 변경</div>
                            <input type="text" placeholder="비밀번호를 입력해주세요">
                            <div class="subtitle">비밀번호 확인</div>
                            <input type="text" placeholder="비밀번호를 입력해주세요">
                        </form>

                        <button type="submit">변경하기</button>
                        <button type="reset">취소</button>

                    </div>
                </div>
            </div>

            <!--       회원정보수정 끝 -->

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(".user-information ").click(function () {


  $(".user-like").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-info").addClass("active").css('display','block');
});

$(".user-wishlist").click(function () {

  $(".user-info").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-wish").addClass("active").css('display','block');
});

$(".user-reviewlist").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-review").addClass("active").css('display','block');
});

$(".user-likelist").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-like").addClass("active").css('display','block');
});

$(".user-information-modify").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-modify").addClass("active").css('display','block');
});


</script>
</body>
</html>
