<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/my_page_style.css}">
<!--        <link rel="script" type="text/js" th:href="@{/my_page_script.js}">--><!--  js는 안쓸거같아요!  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<!-- 문서시작 -->
<div class="wrap">

    <nav>
        <div class="left-box">
            <div class="logo-box">
                <a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a>
            </div>
        </div>

        <div class="right-box">
            <div class="user-box">
                <div class="profile-img">
                    <i class="fa-solid fa-user fa-lg"></i>
                </div>
                <div class="user-nickname" th:text="${#authentication.principal.nickname}"></div>
            </div>
        </div>
    </nav>

    <hr>

    <div class="title">마이페이지</div>
    <div class="mypage-wrap">

        <div class="right-box">
            <div class="info-box">
                <div class="user-info-box">
                    <div class="title">회원정보</div>
                    <hr>
                    <div class="id-box">
                        <div class="subtitle">아이디 :</div>
                        <div class="user-id" th:text="${#authentication.principal.username}">tjqls@gmail.com</div>
                    </div>
                    <div class="nickname-box">
                        <div class="subtitle">닉네임 :</div>
                        <div class="nickname" th:text="${#authentication.principal.nickname}"></div>
                    </div>
                    <div class="birth-box">
                        <div class="subtitle">생년월일 :</div>
                        <div class="birth" th:text="${userBrithDate}"></div>
                    </div>

                </div>
            </div>
            <div class="wish-box">
                <div class="title">나만의 찜</div>
                <hr>
                <div class="product">
                    <div class="product-box" th:each="product : ${productList}">
                        <div class="img-box">
                            <img src="https://d38cxpfv0ljg7q.cloudfront.net/admin_contents/detail/rC0W-1659321041025-0.jpg" alt="">
                        </div>
                        <div class="text-box" th:text="${product.name}"></div>
                    </div>
                </div>

            </div>
            <div class="review-box">
                <div class="review-wrap">
                    <div class="title">내가 쓴 댓글</div>
                    <hr>
                    <div class="review-info">
                        <div class="num">번호</div>
                        <div class="content">리뷰</div>
                        <div class="product-name">상품</div>
                        <div class="create-date">등록일</div>

                    </div>
                    <div class="review-content">
                        <div class="number">1</div>
                        <div class="content">
                            생각한거 보다 맛있네요!
                        </div>
                        <div class="product-name">
                            고흥유자주 8%</div>
                        <div class="date">2023-06-20</div>
                    </div>
                </div>
            </div>
            <div class="like-box">
                <div class="like-wrap">
                    <div class="title">
                        내가 누른 좋아요
                    </div>
                    <hr>
                    <div class="like-info">
                        <div class="num">번호</div>
                        <div class="like-product">
                            좋아요 누른 상품
                        </div>
                    </div>
                    <div class="like-content">
                        <div class="number">1</div>
                        <div class="product-name">
                            고흥유자주8%
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-change-box">
                <div class="user-change-wrap">
                    <div class="title">개인정보 변경</div>
                    <hr>
                    <form action="">
                        <div class="password">기존 비밀번호</div>
                        <input type="text" placeholder="비밀번호를 입력해주세요.">
                        <div class="ps-title">비밀번호 변경</div>
                        <input type="text" placeholder=" 새 비밀번호를 입력해주세요.">
                        <div class="ps-check-title">비밀번호 변경 확인</div>
                        <input type="text" placeholder=" 새 비밀번호를 입력해주세요.">
                        <button type="submit">변경하기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(".user-information ").click(function () {


  $(".user-like").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-info").addClass("active").css('display','block');
});

$(".user-wishlist").click(function () {

  $(".user-info").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-wish").addClass("active").css('display','block');
});

$(".user-reviewlist").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-review").addClass("active").css('display','block');
});

$(".user-likelist").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-modify").removeClass("active").css('display','none');
  $(".user-like").addClass("active").css('display','block');
});

$(".user-information-modify").click(function () {
  $(".user-info").removeClass("active").css('display','none');
  $(".user-review").removeClass("active").css('display','none');
  $(".user-wish").removeClass("active").css('display','none');
  $(".user-like").removeClass("active").css('display','none');
  $(".user-modify").addClass("active").css('display','block');
});


</script>
</body>
</html>
