<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="navbarFragment">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/nav_style.css}">
</head>
<body>
<div style>
<nav class = "nav-bar"> <!--빈이와 상의할 것-->
    <div class="top-bar">
        <div class="logo-box"><a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a></div>
        <div class="user-box">
            <div class="search-box">
                <div class="search"><input placeholder="검색어를 입력해주세요" required="" class="search-input" value="">
                    <button type="submit" class="btn btn-primary"><a href="">검색</a></button>
                </div>
            </div>
            <div class="login"><a href="#">로그인</a>
            </div>
            <div class="sign-up"><a href="#">회원가입</a></div>
        </div>
    </div>
    <div class="menu-bar">
        <ul>
            <li><a th:href="@{|/product/list/1|}">위스키</a></li>
            <li><a th:href="@{|/product/list/2|}">보드카</a></li>
            <li><a th:href="@{|/product/list/3|}">데킬라</a></li>
            <li><a th:href="@{|/product/list/4|}">진</a></li>
            <li><a th:href="@{|/product/list/5|}">럼</a></li>
            <li><a th:href="@{|/product/list/6|}">브랜디</a></li>
            <li><a th:href="@{|/product/list/7|}">맥주</a></li>
        </ul>
    </div>
</nav>
</div>
</body>
</html>