<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="navbarFragment"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/nav_style.css}">
</head>
<body>
<div class="wrap">
    <nav>
        <div class="left-box">
            <div class="logo-box">
                <a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a>
            </div>
        </div>

        <div class="right-box">
            <div class="user-box">
                <div class="login" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/admin/page}">관리자페이지</a>
                </div>
                <div class="login" sec:authorize="isAnonymous()">
                    <a th:href="@{/user/login}">로그인</a>
                </div>
                <div class="login" sec:authorize="isAuthenticated()">
                    <a th:href="@{/user/mypage}" th:text="${#authentication.principal.nickname}"></a>
                    님
                    <a th:href="@{/user/logout}">로그아웃</a>
                </div>
                <div class="sign-up" sec:authorize="isAnonymous()"><a th:href="@{|/user/signup|}">회원가입</a></div>
            </div>
            <div class="search-box">
                <form id="search-form" th:action="@{|/product/list?mainCategory=${mainCategory}|}" method="get">
                    <input type="text" id="search_kw" name="kw" th:value="${kw}" placeholder="검색어를 입력해주세요.">
                    <button type="submit"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="menu-bar">
        <ul>
            <li th:each="mainCategory : ${mainCategoryList}">
                <a th:href="@{|/product/list?mainCategory=${mainCategory.id}|}" th:data-main-category="${mainCategory.id}" class="main-category-link">
                    <span th:text="${mainCategory.mainCategory}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    const searchInput = document.getElementById('search_kw');
    const searchForm = document.getElementById('search-form');

    // 입력 필드에 포커스가 있는 경우 스타일을 변경합니다.
    searchInput.addEventListener('focus', function () {
        searchInput.style.boxShadow = '0 0 5px #ccc';
    });

    // 입력 필드에 포커스가 없는 경우 스타일을 초기화합니다.
    searchInput.addEventListener('blur', function () {
        searchInput.style.boxShadow = 'none';
    });

    // 제출 버튼을 클릭할 때 폼을 제출합니다.
    searchForm.addEventListener('submit', function () {
        searchForm.submit();
    });

</script>
</body>
</html>