<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/product_form.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>제품 등록 페이지</title>
</head>
<body>
<div class="wrap">
    <div class="title-box">
        <div class="title">상품등록</div>
    </div>
    <form th:object="${productForm}" method="POST">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="Category">
            <label for="category">대분류(필수):</label>
            <select id="category" name="mainCategoryId">
                <option value="none">대분류 선택</option>
                <option th:each="mainCategory : ${mainCategoryList}" th:value="${mainCategory.id}"
                        th:text="${mainCategory.mainCategory}"></option>
            </select>
        </div>

        <div class="SubCategory">
            <label for="subCategory">중분류(필수):</label>
            <select id="subCategory" name="subCategoryId">
                <option value="none">중분류 선택</option>
                <option th:each="subCategory : ${subCategoryList}" th:value="${subCategory.id}"
                        th:text="${subCategory.subCategory}"></option>
            </select>
        </div>

        <div class="product-name">
            <div class="title">제품 이름(필수):</div>
            <input type="text" th:field="*{name}" name="name" id="name" placeholder="이름을 입력해주세요">
        </div>

        <div class="Costrange-box">
            <label for="Costrange">제품 가격 - ￦(필수):</label>
            <select id="Costrange" name="costRangeId">
                <option value="none">가격 선택</option>
                <option th:each="costRange : ${costRangeList}" th:value="${costRange.id}"
                        th:text="${costRange.costRange} + '￦'"></option>
            </select>
            <input type="number" th:field="*{cost}" name="cost" id="cost" placeholder="가격을 입력해주세요">
        </div>

        <div class="ABVrange-box">
            <label for="ABVrange">제품 도수 - %(필수):</label>
            <select id="ABVrange" name="abvRangeId">
                <option value="none">도수 선택</option>
                <option th:each="abvRange : ${abVrangeList}" th:value="${abvRange.id}"
                        th:text="${abvRange.abvRange} + '%'"></option>
            </select>
            <input type="number" step="0.01" th:field="*{abv}" name="abv" id="abv" placeholder="도수를 입력해주세요">
        </div>

        <div class="net-weight-box">
            <label for="net-weight">제품 용량 - ml(필수):</label>
            <select id="net-weight" name="netWeightId">
                <option value="none">용량 선택</option>
                <option th:each="netWeight : ${netWeightList}" th:value="${netWeight.id}"
                        th:text="${netWeight.netWeight} + 'ml'"></option>
            </select>
        </div>

        <div class="nation">
            <label for="nation">국가(필수):</label>
            <select id="nation" name="nationId">
                <option value="none">국가 선택</option>
                <option th:each="nation : ${nationList}" th:value="${nation.id}" th:text="${nation.nation}">
            </select>
        </div>

        <div class="taste-box">
            <div class="title">제품 맛(필수):</div>
            <input type="text" th:field="*{flavor}" name="flavor" id="flavor" placeholder="맛을 입력해주세요">
        </div>

        <div class="incense-box">
            <div class="title">제품 향(필수):</div>
            <input type="text" th:field="*{aroma}" name="aroma" id="aroma" placeholder="향을 입력해주세요">
        </div>

        <div class="product-info-box">
            <label for="info">제품 설명(필수):</label>
            <textarea th:field="*{info}" name="info" id="info" placeholder="제품 설명을 입력해주세요"></textarea>
        </div>


        <div class="paring-box">
            <label for="paring1">안주(필수):</label>
            <select id="paring1" name="pairings">
                <option value="none">안주1 선택</option>
                <option th:each="pairing1 : ${pairingList}" th:value="${pairing1.id}" th:text="${pairing1.pairing}">
            </select>
            <label for="paring2"></label>
            <select id="paring2" name="pairings">
                <option value="none">안주2 선택</option>
                <option th:each="pairing2 : ${pairingList}" th:value="${pairing2.id}" th:text="${pairing2.pairing}">
            </select>
            <label for="paring3"></label>
            <select id="paring3" name="pairings">
                <option value="none">안주3 선택</option>
                <option th:each="pairing3 : ${pairingList}" th:value="${pairing3.id}" th:text="${pairing3.pairing}">
            </select>
        </div>

        <div class="Cask-box">
            <label for="cask1">캐스크(선택입력사항):</label>
            <select id="cask1" name="casks">
                <option value="">오크통1 선택</option>
                <option th:each="cask1 : ${caskList}" th:value="${cask1.id}" th:text="${cask1.cask}">
            </select>
            <label for="cask2"></label>
            <select id="cask2" name="casks">
                <option value="">오크통2 선택</option>
                <option th:each="cask2 : ${caskList}" th:value="${cask2.id}" th:text="${cask2.cask}">
            </select>
            <label for="cask3"></label>
            <select id="cask3" name="casks">
                <option value="">오크통3 선택</option>
                <option th:each="cask3 : ${caskList}" th:value="${cask3.id}" th:text="${cask3.cask}">
            </select>
            <label for="cask4"></label>
            <select id="cask4" name="casks">
                <option value="">오크통4 선택</option>
                <option th:each="cask4 : ${caskList}" th:value="${cask4.id}" th:text="${cask4.cask}">
            </select>
        </div>

        <div class="product-img-box">
            <label for="avatar1">상품사진:</label>
            <input type="file" id="avatar1" name="avatar1" accept="image/png, image/jpeg">
        </div>

        <div class="product-detail-img-box">
            <label for="avatar2">상품상세사진:</label>
            <input type="file" id="avatar2" name="avatar2" accept="image/png, image/jpeg">
        </div>

        <div class="product-info-img-box">
            <label for="avatar3">상품정보사진:</label>
            <input type="file" id="avatar3" name="avatar3" accept="image/png, image/jpeg">
        </div>
        <div class="btn-section">
            <div class="btn-box">
                <input type="submit" class="btn btn-primary btn-action" value="저장하기">
                <a class="btn-cancel" th:href="@{/admin/page}">
                    취소하기
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>