<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/vodka_list_style.css}">
</head>
<body>
<div class="wrap">
    <div class="top-bar">
        <div class="logo-box"><a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a></div>
        <div class="user-box">
            >
            <div class="search-box">
                <div class="search"><input placeholder="검색어를 입력해주세요" required="" class="search-input" value="">
                    <button type="submit" class="btn btn-primary"><a href="">검색</a></button>
                </div>
            </div>
            <div class="login"><a href="#">로그인</a>
            </div>
            <div class="sign-up"><a href="#">회원가입</a></div>
        </div>
    </div>
    <div class="menu-bar">
        <ul>
            <li><a th:href="@{|/product/list/whiskey|}">위스키</a></li>
            <li><a th:href="@{|/product/list/vodka|}">보드카</a></li>
            <li><a th:href="@{|/product/list/tequila|}">데킬라</a></li>
            <li><a th:href="@{|/product/list/gin|}">진</a></li>
            <li><a th:href="@{|/product/list/rum|}">럼</a></li>
            <li><a th:href="@{|/product/list/brandy|}">브랜디</a></li>
            <li><a th:href="@{|/product/list/beer|}">맥주</a></li>
        </ul>
    </div>
    <div class="information-box">
        <div class="title">
            <h2>위스키</h2>
        </div>
        <div class="text">
            발효된 곡물을 증류하여 고알콜 음료로 풍부한 향과 맛을 가진 강력한 스피릿츠 드링크 입니다.
        </div>
    </div>
    <div class="drop-down-box">
        <div class="SubCategori-box">
            <label for="SubCategori"></label>
            <select id="Subcategori" onchange="filterBySubcategori()">
                <option value="중분류">중분류</option>
                <option value="싱글몰트">싱글몰트</option>
                <option value="싱글그레인">싱글그레인</option>
                <option value="블렌디드몰트">블렌디드몰트</option>
                <option value="블렌디드">블렌디드</option>
                <option value="버번">버번</option>
                <option value="테네시">테네시</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <div class="Costrange-box">
            <label for="Costrange"></label>
            <select id="Costrange" onchange="filterByCostrange()">
                <option value="가격">가격</option>
                <option value="0~2만원">0~2만원</option>
                <option value="2만원~5만원">2만원~5만원</option>
                <option value="5만원~10만원">5만원~10만원</option>
                <option value="10만원~15만원">10만원~15만원</option>
                <option value="15만원~20만원">15만원~20만원</option>
                <option value="20만원~30만원">20만원~30만원</option>
                <option value="30만원 이상">30만원 이상</option>
            </select>
        </div>
        <div class="ABVrange-box">
            <label for="ABVrange"></label>
            <select id="ABVrange" onchange="filterByABVrange()">
                <option value="도수">도수</option>
                <option value="무알콜">무알콜</option>
                <option value="1도~10도">1도~10도</option>
                <option value="10도~40도">10도~40도</option>
                <option value="40도~50도">40도~50도</option>
                <option value="50도~60도">50도~60도</option>
                <option value="60도~70도">60도~70도</option>
                <option value="70도 이상">70도 이상</option>
            </select>
        </div>
        <div class="net-weight-box">
            <label for="net-weight"></label>
            <select id="net-weight" onchange="filterBynet-weight()">
                <option value="안주">용량</option>
                <option value="300ml">300ml</option>
                <option value="473ml">473ml</option>
                <option value="500ml">500ml</option>
                <option value="700ml">700ml</option>
                <option value="750ml">750ml</option>
                <option value="1000ml">1000ml</option>
                <option value="5000ml">5000ml</option>
            </select>
        </div>
        <div class="paring-box">
            <label for="paring"></label>
            <select id="paring" onchange="filterByparing()">
                <option value="안주">안주</option>
                <option value="치즈">치즈</option>
                <option value="초콜릿">초콜릿</option>
                <option value="견과류">견과류</option>
                <option value="고기">고기</option>
                <option value="해산물">해산물</option>
                <option value="시가">시가</option>
                <option value="튀김">튀김</option>
                <option value="크래커">크래커</option>
            </select>
        </div>
        <div class="Cask-box">
            <label for="Cask-box"></label>
            <select id="Cask-box" onchange="filterByCask-box()">
                <option value="오크통">오크통</option>
                <option value="버진캐스크">버진캐스크</option>
                <option value="버번캐스크">버번캐스크</option>
                <option value="쉐리캐스크(p.x)">쉐리캐스크(p.x)</option>
                <option value="쉐리캐스크(Oloroso)">쉐리캐스크(Oloroso)</option>
                <option value="포트캐스크">포트캐스크</option>
                <option value="와인캐스크">와인캐스크</option>
                <option value="꼬냑캐스크">꼬냑캐스크</option>
                <option value="소테른캐스크">소테른캐스크</option>
                <option value="아마로네캐스크">아마로네캐스크</option>
            </select>
        </div>
        <div class="nation">
            <label for="nation"></label>
            <select id="nation" onchange="filterBynation()">
                <option value="국가">국가</option>
                <option value="미국">미국</option>
                <option value="스코틀랜드">스코틀랜드</option>
                <option value="아일랜드">아일랜드</option>
                <option value="아일라">아일라</option>
                <option value="베네수엘라">베네수엘라</option>
                <option value="대만">대만</option>
                <option value="인도">인도</option>
                <option value="호주">호주</option>
                <option value="프랑스">프랑스</option>
                <option value="포르투갈">포르투갈</option>
                <option value="러시아">러시아</option>
                <option value="덴마크">덴마크</option>
                <option value="네덜란드">네덜란드</option>
                <option value="폴란드">폴란드</option>
                <option value="멕시코">멕시코</option>
                <option value="이탈리아">이탈리아</option>
            </select>
        </div>
    </div>
    <div class="section">

        <p>
        <div class="search-result" th:text="${productList.size()}" style="display : inline-block;"></div>
        건의 결과가 있어요</p>

        <section class="goods-list">

            <div class="goods-1" th:each="product : ${productList}">
                <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1645598047189l0.jpg"
                     alt="">
                <p class="goods-name" th:text="${product.name}" style = "font-weight : bold; font-size : 2rem;"></p>
                <p><span th:text="${product.cost}"></span>원</p>
            </div>
        </section>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>가격</th>
        <th>이름</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.cost}"></td>
        <td th:text="${product.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>