<!doctype html>
<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>데킬라 리스트 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/tequila_list_style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="wrap">
        <!--개별리스트 목록-->
        <div class="information-box">
            <div class="title">
                <h2>데킬라</h2>
            </div>
            <div class="text">
                멕시코에서 탄생한 강력하고 향긋한 술로, 데킬라는 특유의 맛과 효과를 가진 알코올 음료입니다.
            </div>
            <div class="img-box">
                <img src="https://koreadailytimes.com/files/attach/images/149/252/070/dc2f7e851e73692c5e15684b06a71140.jpg" alt="">
            </div>
        </div>
        <div class="drop-down-box">
            <div class="SubCategori-box">
                <label for="SubCategori"></label>
                <select id="SubCategori" onchange="filterBySubcategori()" multiple size="5">
                    <option value="">중분류 전체</option>
                    <option th:each="subCategory : ${subCategoryList}"
                            th:if="${mainCategoryId == 1 and (subCategory.id >= 1 and subCategory.id <= 7)} or
               ${mainCategoryId == 2 and (subCategory.id >= 8 and subCategory.id <= 10)} or
               ${mainCategoryId == 3 and (subCategory.id >= 11 and subCategory.id <= 15)} or
               ${mainCategoryId == 4 and (subCategory.id >= 16 and subCategory.id <= 22)} or
               ${mainCategoryId == 5 and (subCategory.id >= 23 and subCategory.id <= 27)} or
               ${mainCategoryId == 6 and (subCategory.id >= 28 and subCategory.id <= 31)} or
               ${mainCategoryId == 7 and (subCategory.id >= 32 and subCategory.id <= 36)}"
                            th:value="${subCategory.id}" th:text="${subCategory.subCategory}"></option>
                </select>
            </div>
            <div class="Costrange-box">
                <label for="Costrange"></label>
                <select id="Costrange" onchange="filterByCostrange()">
                    <option value="가격">가격범위 전체</option>
                    <option th:each="costRange : ${costRangeList}"
                            th:value="${costRange.id}" th:text="${costRange.costRange}"></option>
                </select>
            </div>
            <!-- 알콜도수범위 드롭다운 메뉴 -->
            <div class="ABVrange-box">
                <label for="ABVrange"></label>
                <select id="ABVrange" onchange="filterByABVrange()">
                    <option value="도수">도수범위 전체</option>
                    <option th:each="aBVrange : ${abVrangeList}"
                            th:value="${aBVrange.id}" th:text="${aBVrange.abvRange}"></option>
                </select>
            </div>
            <div class="net-weight-box">
                <label for="net-weight"></label>
                <select id="net-weight" onchange="filterBynet-weight()">
                    <option value="용량">용량범위 전체</option>
                    <option th:each="netWeight : ${netWeightList}"
                            th:value="${netWeight.id}" th:text="${netWeight.netWeight}"></option>
                </select>
            </div>
            <div class="paring-box">
                <label for="paring"></label>
                <select id="paring" onchange="filterByparing()">
                    <option value="안주">안주범위 전체</option>
                    <option th:each="pairing : ${pairingList}"
                            th:value="${pairing.id}" th:text="${pairing.pairing}"></option>
                </select>
            </div>
            <!-- 오크통(캐스크) 드롭다운 메뉴 -->
            <div class="Cask-box">
                <label for="Cask-box"></label>
                <select id="Cask-box" onchange="filterByCaskBox()">
                    <option value="오크통">오크통범위 전체</option>
                    <option th:each="cask : ${caskList}" th:value="${cask.id}" th:text="${cask.casks}"></option>
                </select>
            </div>

            <div class="nation">
                <label for="nation"></label>
                <select id="nation" onchange="filterBynation()">
                    <option value="국가">국가범위 전체</option>
                    <option th:each="nation : ${nationList}"
                            th:value="${nation.id}" th:text="${nation.nation}"></option>
                </select>
            </div>
        </div>
        <!--개별리스트 목록 끝-->
        <div class="section">
            <p>
            <div class="search-result" th:text="${productList.size()}" style="display : inline-block;"></div>
            건의 결과가 있어요</p>

            <section class="goods-list">

                <div class="goods-1" th:each="product : ${productList}">
                    <img src="https://img-cf.kurly.com/cdn-cgi/image/width=400,format=auto/shop/data/goods/1645598047189l0.jpg"
                         alt="">
                    <p class="goods-name" th:text="${product.name}" style="font-weight : bold; font-size : 2rem;"></p>
                    <p><span th:text="${product.cost}"></span>원</p>
                </div>
            </section>
        </div>
    </div>
</div>
<!--스크립트 들어가는 자리-->
<script layout:fragment="script" type='text/javascript'>
function filterBySubcategori() {
        var subCategoryId = document.getElementById("SubCategori").value;
        window.location.href = "http://localhost:7000/product/list/데킬라?subCategoryId=" + subCategoryId;
    }
function applyFilters() {
        var subCategorySelect = document.getElementById("subCategoryId");
        var selectedOptions = Array.from(subCategorySelect.selectedOptions);
        var subCategoryIds = selectedOptions.map(function(option) {
            return option.value;
        });
        var url = "/product/list/데킬라?subCategoryId=" + subCategoryIds.join("&subCategoryId=");
        window.location.href = url;
    }
</script>
</body>
</html>