<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/product_form.css}">
    <title>제품 등록 페이지</title>
</head>
<body>
<div class="wrap">
    <div class="title-box">
        <div class="title">상품등록</div>
    </div>
    <form th:object="${productForm}" method="post" action="">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="Category">
            <label for="category">대분류:</label>
            <select id="category" onchange="filterByCategory()">
                <option value="">대분류 선택</option>
                <option th:each="mainCategory : ${mainCategoryList}" th:value="${mainCategory.id}" th:text="${mainCategory.mainCategory}"></option>
            </select>
        </div>

        <div class="SubCategory">
            <label for="subCategory">중분류:</label>
            <select id="subCategory" onchange="filterBySubCategory()">
                <option value="">중분류 선택</option>
                <option th:each="subCategory : ${subCategoryList}" th:if="${mainCategoryId == 1 and (subCategory.id >= 1 and subCategory.id <= 7)} or
               ${mainCategoryId == 2 and (subCategory.id >= 8 and subCategory.id <= 10)} or
               ${mainCategoryId == 3 and (subCategory.id >= 11 and subCategory.id <= 15)} or
               ${mainCategoryId == 4 and (subCategory.id >= 16 and subCategory.id <= 22)} or
               ${mainCategoryId == 5 and (subCategory.id >= 23 and subCategory.id <= 27)} or
               ${mainCategoryId == 6 and (subCategory.id >= 28 and subCategory.id <= 31)} or
               ${mainCategoryId == 7 and (subCategory.id >= 32 and subCategory.id <= 36)}"
                        th:value="${subCategory.id}" th:text="${subCategory.subCategory}"></option>
            </select>
        </div>

        <div class="product-name">
            <div class="title">이름:</div>
            <input type="text" th:field="*{name}" name ="name" id ="name" placeholder="이름을 입력해주세요">
        </div>

        <div class="Costrange-box">
            <label for="Costrange">가격:</label>
            <select id="Costrange" onchange="filterByCostrange()">
                <option value="가격">가격 선택</option>
                <option th:each="costRange : ${costRangeList}" th:value="${costRange.id}" th:text="${costRange.costRange}"></option>
            </select>
            <input type="number" th:field="*{cost}" name ="cost" id ="cost" placeholder="가격을 입력해주세요">
        </div>

        <div class="ABVrange-box">
            <label for="ABVrange">도수:</label>
            <select id="ABVrange" onchange="filterByABVrange()">
                <option value="도수">도수 선택</option>
                <option th:each="abvRange : ${abVrangeList}" th:value="${abvRange.id}" th:text="${abvRange.abvRange}"></option>
            </select>
            <input type="number" step="0.01" th:field="*{abv}" name ="abv" id ="abv" placeholder="도수를 입력해주세요">
        </div>

        <div class="net-weight-box">
            <label for="net-weight">용량:</label>
            <select id="net-weight" onchange="filterBynet-weight()">
                <option value="안주">용량 선택</option>
                <option th:each="netWeight : ${netWeightList}" th:value="${netWeight.id}" th:text="${netWeight.netWeight}">
            </select>
        </div>

        <div class="taste-box">
            <div class="title">맛:</div>
            <input type="text" th:field="*{flavor}" name ="flavor" id ="flavor" placeholder="맛을 입력해주세요">
        </div>

        <div class="incense-box">
            <div class="title">향:</div>
            <input type="text" th:field="*{aroma}" name ="aroma" id ="aroma" placeholder="향을 입력해주세요">
        </div>

        <div class="paring-box">
            <label for="paring">안주:</label>
            <select id="paring" onchange="filterByparing()">
                <option value="안주1">안주1 선택</option>
                <option th:each="pairing : ${pairingList}" th:value="${pairing.id}" th:text="${pairing.pairing}">
            </select>
            <select id="paring" onchange="filterByparing()">
                <option value="안주2">안주2 선택</option>
                <option th:each="pairing : ${pairingList}" th:value="${pairing.id}" th:text="${pairing.pairing}">
            </select>
            <select id="paring" onchange="filterByparing()">
                <option value="안주3">안주3 선택</option>
                <option th:each="pairing : ${pairingList}" th:value="${pairing.id}" th:text="${pairing.pairing}">
            </select>
        </div>

        <div class="Cask-box">
            <label for="Cask-box">캐스크:</label>
            <select id="Cask-box" onchange="filterByCask-box()">
                <option value="오크통1">오크통1 선택</option>
                <option th:each="cask : ${caskList}" th:value="${cask.id}" th:text="${cask.cask}">
            </select>
            <select id="Cask-box" onchange="filterByCask-box()">
                <option value="오크통2">오크통2 선택</option>
                <option th:each="cask : ${caskList}" th:value="${cask.id}" th:text="${cask.cask}">
            </select>
            <select id="Cask-box" onchange="filterByCask-box()">
                <option value="오크통3">오크통3 선택</option>
                <option th:each="cask : ${caskList}" th:value="${cask.id}" th:text="${cask.cask}">
            </select>
            <select id="Cask-box" onchange="filterByCask-box()">
                <option value="오크통4">오크통4 선택</option>
                <option th:each="cask : ${caskList}" th:value="${cask.id}" th:text="${cask.cask}">
            </select>
        </div>

        <div class="nation">
            <label for="nation">국가:</label>
            <select id="nation" onchange="filterBynation()">
                <option value="국가">국가 선택</option>
                <option th:each="nation : ${nationList}" th:value="${nation.id}" th:text="${nation.nation}">
            </select>
        </div>

        <div class="product-img-box">
            <label for="avatar">상품사진:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        </div>

        <div class="product-detail-img-box">
            <label for="avatar">상품상세사진:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        </div>

        <div class="product-info-img-box">
            <label for="avatar">상품정보사진:</label>
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
        </div>
    </form>

    <div class="btn-section">
        <div class="btn-box">
            <button type="submit" class="btn btn-primary"><a href="">저장하기</a></button>
            <button class="btn-cancle"><a href="">취소하기</a></button>

        </div>
    </div>
</div>
<script>
</script>
</body>
</html>