<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tbody>
    <tr th:each="product : ${product}">
        <td th:text="${product.cost}"></td>
        <td th:text="${product.name}"></td>
    </tr>
    </tbody>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td th:text="${review.flavor}"></td>
        <td th:text="${review.aroma}"></td>
        <td th:text="${review.content}"></td>
        <td th:text="${review.createDate}"></td>
    </tr>
    </tbody>
    <!--
    <tbody>
    <tr th:each="userId : ${siteUser}">
        <td th:text="${siteUser.userId}"></td>
    </tr>
    </tbody>
    -->
</table>
</body>
</html>