<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spirits 회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/signup_form.css}">
    <style>
        .error-message {
            color: red;
        }

        .checkmark {
            color: green;
        }

    </style>
</head>
<body>
<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="big-wrap">
        <div class="wrap">
            <div class="top-bar">
                <div class="logo-box">
                    <div class="logo"><a th:href="@{|/main|}"><img src="https://ifh.cc/g/BRzb5o.png" alt=""></a></div>
                </div>
                <div class="user-box">
                    <div class="login"><a th:href="@{|/user/login|}">로그인</a></div>
                    <div class="sign-up"><a th:href="@{|/user/signup|}">회원가입</a></div>
                </div>
            </div>
            <div class="hello">
                <div class="hello-box">
                    <div class="title">환영합니다! SPIRITS 입니다.</div>

                </div>
            </div>
            <div class="signup-box">
                <div class="email-box">
                    <div class="email-text">계정(이메일 형식) *</div>
                    <div class="email">
                        <input id="email-input" th:field="*{username}" type="email"
                               placeholder="ex) example@example.com" required="" value="">
                        <div class="email-checkmark">✓</div>
                    </div>
                    <div id="email-format-error" style="display: none; color: red;">이메일 형식으로 작성해주세요.</div>
                </div>


                <div class="birthday-box">
                    <div class="birthday-text">생년월일*</div>
                    <div class="birthday">
                        <input th:field="*{birthDate}" type="date" placeholder=""
                               class="email-input" required="" value="">
                    </div>
                </div>
                <div class="password-box">
                    <div class="password-text">비밀번호 * (영문,숫자 8글자 이상)</div>
                    <div class="password">
                        <input id="password-input" th:field="*{password1}" type="password" placeholder="비밀번호를 입력해주세요."
                               required="" value="">
                        <div class="password-checkmark">✓</div>
                    </div>
                    <div id="password-error" style="display: none; color: red;">비밀번호는 영문, 숫자 8글자 이상을 입력하세요.</div>
                </div>

                <div class="password-check-box">
                    <div class="password-check-text">비밀번호 확인 *</div>
                    <div class="password-check">
                        <input id="password-check-input" th:field="*{password2}" type="password"
                               placeholder="비밀번호를 입력해주세요." required="" value="">
                        <div class="password-check-checkmark">✓</div>
                    </div>
                    <div id="password-match-error" style="display: none; color: red;">비밀번호와 일치하지 않습니다.</div>
                </div>

                <div class="nickname-box">
                    <div class="nickname-text">닉네임 * (공백,특수문자 제외한 2~10글자)</div>
                    <div class="nickname">
                        <div class="nickname2">
                            <input th:field="*{nickname}" type="text" placeholder="닉네임을 입력해주세요." class="nickname-input" required="" value="" id="nicknameInput">
                        </div>
                        <button type="button" class="btn btn-primary" id="checkDuplicateBtn">중복확인</button>
                    </div>
                    <div id="nicknameCheckResult" style="margin-top: 10px;"></div>
                </div>



                <div class="signup-btn">
                    <button type="submit" class="btn btn-primary" onclick="showPopup()">회원가입</button>
                </div>
                <div class="cancel-btn">
                    <button type="submit" class="btn2 btn-primary"><a th:href="@{|/main|}">취소하기</a></button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
   $(document).ready(function() {
  $('#email-input').on('input', function() {
    var email = $(this).val();
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    if (emailRegex.test(email)) {
      $('.email-checkmark').css('display', 'block');
      $('#email-format-error').css('display', 'none');
    } else {
      $('.email-checkmark').css('display', 'none');
      $('#email-format-error').css('display', 'block');
    }
  });

  $('#email-input').on('focus', function() {
    $('#email-format-error').css('display', 'none');
  });
});

$(document).ready(function() {
  $('#password-input').on('input', function() {
    var password = $(this).val();
    var regex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;

    if (regex.test(password)) {
      $('.password-checkmark').css('display', 'block');
      $('#password-error').css('display', 'none');
    } else {
      $('.password-checkmark').css('display', 'none');
      $('#password-error').css('display', 'block');
    }
  });

  $('#password-input').on('focus', function() {
    $('#password-error').css('display', 'none');
  });
});

$(document).ready(function() {
  $('#password-check-input').on('input', function() {
    var password = $('#password-input').val();
    var confirmPassword = $(this).val();

    if (password === confirmPassword) {
      $('.password-check-checkmark').css('display', 'block');
      $('#password-match-error').css('display', 'none');
    } else {
      $('.password-check-checkmark').css('display', 'none');
      $('#password-match-error').css('display', 'block');
    }
  });

  $('#password-check-input').on('focus', function() {
    $('#password-match-error').css('display', 'none');
  });
});



</script>
<script>
    $(document).ready(function() {
  $('#checkDuplicateBtn').on('click', function() {
    checkNickname();
  });

  function checkNickname() {
    var nickname = $('#nicknameInput').val();

    if (nickname === '') {
      $('#nicknameCheckResult')
        .text('특수문자를 제외한 2~10글자로 입력하세요.')
        .css('color', 'black');
      return;
    }

    var regex = /^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9]{2,10}$/;
    if (!regex.test(nickname)) {
      $('#nicknameCheckResult')
        .text('특수문자를 제외한 2~10글자로 입력하세요.')
        .css('margin-left', '120px')
        .css('color', 'black');

      return;
    }

    // 서버로 닉네임 중복 확인 요청 보내기 (AJAX 등을 사용하여 구현)
    // 예시: 여기에서는 닉네임이 중복되었다고 가정하고 결과를 보여줍니다.
    var isNicknameDuplicate = true;

    // AJAX 요청 보내기
    $.ajax({
      url: '/user/checkDuplicate',
      type: 'GET',
      dataType: 'JSON',
      data: {
        nickname: nickname
      },
      success: function(response) {
        if (!response) {
          isNicknameDuplicate = false;
        }

        if (isNicknameDuplicate) {
          $('#nicknameCheckResult')
            .text('이미 사용 중인 닉네임입니다.')
            .css('color', 'red')
            .css('margin-left', '40px');
        } else {
          $('#nicknameCheckResult')
            .text('사용 가능한 닉네임입니다.')
            .css('margin-left', '30px')
            .css('color', 'black');
        }
      },
      error: function(xhr, status, error) {
        console.error('유저 삭제 오류:', error);
      }
    });
  }
});


    document.getElementById("checkDuplicateBtn").addEventListener("click", checkNickname);

</script>

</body>
</html>

</body>
</html>